html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.App {
  padding-left: 5px;
}

.App__panel {
  margin-bottom: var(--spacing-xl);
}

.App__title {
  width: 100%;
  margin-bottom: var(--spacing-s);
}

.App__preview {
  width: 100px;
  height: 100px;
  margin-right: var(--spacing-m);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.App__preview_orientation_landscape {
  width: 100px;
  height: 80px;
}

.App__preview_orientation_portrait {
  width: 100px;
  height: 120px;
}

.App__preview_orientation_square {
  width: 100px;
  height: 100px;
}

.App__label {
  margin-bottom: var(--spacing-2xs);
}

.App__content {
  margin-bottom: var(--spacing-xl);
  padding-top: var(--spacing-m);
}

.App__control {
  width: 200px;
  margin-right: var(--spacing-m);
  margin-bottom: var(--spacing-m);
}